<!DOCTYPE html>

<html lang="en">
<head>
    <title>ITIS 3135 Me and My Course</title>
    <meta name="description" content="3135 Activity #1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Activity1.css"/>
</head>

<body>

<h1>Web-Based Applications Design and Development</h1>
<h2>Me and My Course</h2>
<!-- url is "webpages.charlotte.edu/dnroma18/Exercise/Norman-Activity1-->

<p><b>Drake Norman</b> Is an aspiring Cybersecurity student, with a imaginative and craetive mind, He is currently taking web-based application and desigen due to it 
    <em>being part of his major</em>. He is also an aspiring game dev, with a focus on story based adventures. loves deep lore and good world building
</p>

<p><b>Drake</b> tends to take things at face value, and often forgets that some things can be implied and not said out loud. Because of this, if the instructions are not
110% clear on what needs to be done, he will struggle on what needs to be done. On the other hand, in tasks that require him to be creative, he will have a million and one ideas, and often bite off more than he can chew, 
and needs to be reminded to keep things manageable (Psst, hey, I also hate typing in third-preson, will we do things like this in all activities???)</p>


<p><b>Drake</b> is not sure what to put in this third paragraph, so he is going to mention he has a witty and sometimes unintetional sense of humor, that can be a little much sometimes.
    And will often say something that is purposlly funny and stupid, or say something with a straight face that most people will find either hillarious or appaling depending on who's listening
    He will never turn down the oppertunity to have a good laugh. (I also love video games, have I mentioned that already? Well, either way, the main reason I'm getting into computer sciene really is to make games, so this class <em>can help me learn to make web games when it comes down to it</em>)
</p>

<a href="https://validator.w3.org/">Validate</a>

</body>
</html>